@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300&display=swap');


.listings  {
  position: absolute;
  top: 10%;
}

body {
  font-family: 'Outfit', sans-serif;
}

.drone-video {
  width: 100%;
  height: 100vh;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drone-content {
  position: absolute;
  display: flex;
  top: 25%;
  left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EAAB00;
  text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
  font-size: 3rem;
  text-align: center;
}

.overlay  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 18, 44, 0.502);
  z-index: 10;

}

.video-btn {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(200, 18, 44);
  color: white;
  font-size: 25px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

 .video-btn:hover {
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-radius: 5px;
}

li a {
  display: block;
  font-size : 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(200, 18, 44);
}

.filter-box {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.filter-box label {
  font-size: 20px;
  background-color: #333;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 10px;
  border: 1px solid black;
}

.filter-box select {
  padding: 10px;
  width: 200px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #EAAB00;
  color: white;
  font-size: 20px;
  border: 1px solid #ccc;
  appearance: none;
}

.filter-btn{
  position: relative;
  top: 20%;
  height: 50px;
  width: 100px;
  background-color: #333;
  color: #EAAB00;
  font-size: 20px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
}

.filter-btn:hover {
  background-color: rgb(200, 18, 44);
  color: white;
}



.card {
  display: inline-block;
  width: 340px;
  height: 360px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 10px;
  margin-bottom: 90px;
  text-align: center;
}

.card h1 {
  font-size: 20px;
  margin-top: 0;
}

.card img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
}